// Import Angular Material styles
@use '@angular/material' as mat;
@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.bubble.css';
@import 'quill/dist/quill.snow.css';

@include mat.core();

.mdc-text-field--filled { background-color: white !important; }

.mat-mdc-form-field-focus-overlay{ opacity: 0 !important; }

//@tailwind directives
@tailwind base;
@tailwind components;
@tailwind utilities;


// Define your custom palette
$custom-primary-palette: (
  50: #E3EAF0,
  100: #B9CDDA,
  200: #8AA7C1,
  300: #5B81A8,
  400: #38619A,
  500: #0a4f9d,
  600: #194881,
  700: #084183,
  800: #0C336D,
  900: #062252,
  A100: #86B8FF,
  A200: #538FFF,
  A400: #207CFF,
  A700: #075CFF,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: white,
  )
);

:root {
  --font-family-default: 'Noto Sans', sans-serif;
  --color-primary: #0a4f9d;
  --color-secondary: #084386;
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-grey: #808080;
  --color-danger: #FF0000;
  --color-disable-text : #7F7F7F;
  --color-disable-bg : #CAC7C1;
  /* Borders */
  --border-color: #ccc;
  }

// Define your custom theme
$custom-primary: mat.define-palette($custom-primary-palette);
$custom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$red-palette);

// Create a custom theme using your defined palettes
$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn:$custom-warn
  )
));
$primary: #0a4f9d;
$secondary: #FBFDFE;
$tertiary: #34383C;
$cardLightBlue:#f3f7fa;
$chipPurple:#A59EFB;
$textBlue:#0A4F9D;
$borderGray:#d1d3d5;
$buttonDisable:#80868b;
$horizontalBlueLine:#dbedfa;
$warn: #FF0000;
$error:	#ff3333;
$reject:#ec555d;
$success:#008840;
// Apply the custom theme to the Angular Material components
@include mat.all-component-themes($custom-theme);

// Define any additional custom styles below
body{
  margin: 0;
}
.btn {
  border: 1px solid $primary;
  border-radius: 8px !important;
  padding: 0 15px !important;
  margin: 5px 5px !important;
  box-sizing: border-box;
  height: 30px;
}
.button-enable{
  color: $primary;
  border: 1px solid $primary;
}
.primary-button-enable{
  color: $secondary;
  border: 1px solid $primary;
  background-color: $primary;
}
.enable-reject-button{
  color: $secondary;
  border: 1px solid $reject;
  background-color: $reject;
}
.enable-success-button{
  color: $secondary;
  border: 1px solid $success;
  background-color: $success;
}
.button-disable{
background-color: $buttonDisable;
color: $secondary;
border: 1px solid $buttonDisable;
}
.mdc-notched-outline__notch
{
  border-right: none !important;
}

.text-tertiary{
color:$tertiary
}

.text-warning {
  color: $warn;
}

.success .mdc-snackbar__surface {
  background-color: white !important;
  border-width: 2px 2px 2px 12px;
  border-style: solid;
  border-color: $success;
  border-radius: 25px;
  color: $success  !important;
}

.error .mdc-snackbar__surface{
  background-color: white !important;
  border-width: 2px 2px 2px 12px;
  border-style: solid;
  border-color: $error;
  border-radius: 25px;
}

.error .mdc-snackbar__label{
  color: $error  !important;
}

.success .mdc-snackbar__label{
  color: $success  !important;
}

.no-bottom-line .mdc-line-ripple::before{
  position: relative;
  display: none;
}

.placeholder-text-black .mat-mdc-select-placeholder{
  color:$tertiary
}

.custom-input-wrapper .mat-mdc-form-field-infix{
  min-height: 1.875rem !important;
  width: 14.375rem !important;
}
.custom-input-wrapper .mat-mdc-text-field-wrapper{
  min-height: 2.375rem !important;
}

.custom-input-wrapper .mdc-text-field--outlined .mat-mdc-form-field-infix,
.custom-input-wrapper .mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding: 0.3125rem !important;
}

.custom-input-wrapper .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

quill-editor .ql-toolbar {
  position: sticky; 
  top: 0;
  z-index: 1; 
  background-color: white; 
}

::ng-deep .custom-class .mat-mdc-dialog-container .mdc-dialog__surface {
  min-height: 0 !important;
  width: 63vw;
  height:auto;
  min-height: 50vh;
  max-height: 90vh;
  padding: 0 0 1.4rem 0;
}

@media (max-width: 768px) {
  ::ng-deep .custom-class .mat-mdc-dialog-container .mdc-dialog__surface {
    height: 50vh !important;
    width: 90vw !important; 
  }
}

@media (max-width: 480px) {
  ::ng-deep .custom-class .mat-mdc-dialog-container .mdc-dialog__surface {
    height: 40vh !important; 
    width: 95vw !important;  
  }
}
