<div class="w-full p-6 flex flex-col gap-2">
    <lib-search (searchEvent)="receiveSearchResults($event)" [maxLength]="150"></lib-search>
    <lib-filter [filterData]="filters.filterData" (filteredData)="onFilterChange($event)" (sortOptionsChanged)="onSortOptionsChanged($event)"  [changeReqCount]="filters.changeReqCount" [inprogressCount]="filters.inprogressCount" (filterButtonClickEvent)="filterButtonClick($event)"></lib-filter>
    @if(filters.filteredLists.length > 0) {
   <div class="w-full flex justify-between gap-2">
    <div class="flex justify-center items-center text-lg">{{"SHOWING" | translate}} <span class="px-1">{{filters.filteredLists.length}}</span> {{ "RESULTS" | translate}} 
        @if(filters.search){
            <span class="px-1">{{"for" | translate}} <span class="px-2">"{{filters.search}}"</span> </span>
        }
    </div>
    <lib-pagination [totalCount]="pagination.totalCount" [pageSize]="pagination.pageSize" [pageSizeOptions]="pagination.pageSizeOptions" (paginatorChanged)="onPageChange($event)"></lib-pagination>
   </div>
    @for (list of filters.filteredLists; track list) {
        <div class="pb-1">
        <lib-card [list]="list" [showActionButton]="filters.showActionButton" (buttonClickEvent)="cardButtonClick($event)"></lib-card>
        </div>
    } 
    } 
    @else 
    {
        <div class="flex flex-col  justify-center items-center text-center">
            @if(filters.filteredLists.length === 0 && isDataLoaded){
                <lib-no-result-found [noResultMessage]="noResultMessage"></lib-no-result-found>
            }
        </div>
    } 
</div>