@import "../../../styles.scss";
mat-toolbar{
    background-color: $secondary;
    color: $tertiary;
    font-size: 18px;
    margin-left: 4rem;
}
.main{
    display: flex;
}
.content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    margin-left: 25px;
}

.custom-card {
    width: 200px;
    height: 220px;
    margin-bottom: 16px;
}
.img-content{
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   margin-top: 10%;
   .img-title{
    margin: 1rem;
    font-size: 1rem;
    text-align: center;
     }
}
